@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap');

.dashboard {
  display: flex;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  background: #bfc4c7;
}

.sidebar {
  width: 190px;
  background: #2c3e50;
  color: #ecf0f1;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
  transition: width 0.3s ease;
}

.sidebarOculto {
  width: 50px;
}

.logoContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.logo {
  width: 200px;
  height: auto;
  filter: drop-shadow(0 0 2px white);
  transition: width 0.3s ease;
}

.sidebarOculto .logo {
  width: 70px;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.navItem {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #ecf0f1;
  background: none;
  border: none;
  padding: 0.8rem 1rem;
  border-radius: 8px;
  text-align: left;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease, justify-content 0.3s ease, padding 0.3s ease;
  width: 100%;
}

.navItem:hover {
  background: #34495e;
}

.icon {
  font-size: 1rem;
  transition: font-size 0.3s ease;
}

.sidebarOculto .navItem span {
  display: none;
}

.sidebarOculto .navItem {
  justify-content: center;
  padding: 1rem 0.2rem;
}

.sidebarOculto .icon {
  font-size: 1.9rem;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header {
  height: auto;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  flex-wrap: wrap;
}

.title {
  font-family: "ADLaM Display", system-ui;
  font-weight: 500;
  font-size: 1.8rem;
  color: #2c3e50;
  text-align: center;
  width: 80%;
}

.user {
  display: flex;
  align-items: center;
  gap: 0rem;
  max-width: 250px;
}

.user div {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  word-wrap: break-word; 
}

.user div span:first-child {
  font-weight: bold; /* rol en negrita */
  line-height: 1; /* espacio reducido entre líneas */
}

.user div span:last-child {
  line-height: 1.2; /* nombre debajo del rol */
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #3498db;
}

.content {
  flex: 1;
  padding: 2rem;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  box-sizing: border-box;
  background: none;
}

.content::before {
  content: '';
  position: absolute;
  inset: 0;
  background: url('../../assets/fondov2.png') center center no-repeat;
  background-size: contain;
  opacity: 0.35;
  z-index: 0;
  pointer-events: none;
}

.content > * {
  position: relative;
  z-index: 1;
}
